<div class="card-body my-3 p-5">
  <div class="d-flex justify-content-between">
    <h4 class="card-title fw-bolder fs-5 mb-3 d-block" [ngClass]="'text-' + color">
      {{ description }}
    </h4>
    <div>
      <div class="bg-opacity-10" [ngClass]="'bg-' + color">
        <span class="fs-8 px-1" [ngClass]="'text-' + color"> {{percentage}} </span>
      </div>
    </div>
  </div>

  <div class="py-1 d-flex justify-content-between align-items-center">
    <div  class="bg-opacity-10" [ngClass]="'bg-' + color">
      <span class="fw-bold fs-7 px-2" [ngClass]="'text-' + color">{{ title }}</span>
    </div>
    <span class="text-dark fs-1 fw-bolder me-2">{{ progress }}</span>
  </div>

  <div class="`progress h-7px bg-opacity-50 mt-7" [ngClass]="'bg-' + color">
    <div class="progress-bar" [ngClass]="' bg-' + color" [style.width]="progress" role="progressbar"></div>
  </div>
</div>