::ng-deep .last-mile-status .symbol {
    display: none;
}

::ng-deep .last-mile-status .fs-7 {
    font-size: 1.75rem !important;
    margin-top: 25px;
}

::ng-deep .white-box-shadow .card {
    box-shadow: 0px 6px 20px 7px #eeeeee;
}

::ng-deep .white-box-shadow .symbol {
    margin-top: -32px;
}